body {
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background: url(./img/MarioBackground.jpg);
  background-size: cover; 
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body h1 {
  margin: 0px 10px;
  color: #fff;
  font-size: 70px;
  font-weight: 700;
}
.score-box {
  display: flex;
  justify-content: center;
  gap: 20px;
}
body h2 {
  margin: 10px 0px 0px 0px;
  color: #fff;
  font-size: 25px;
  font-weight: 700;
}
#score {
  color: yellow;
}
body h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}
#board {
  width: 540px;
  height: 540px;
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  background: url(./img/soil.png);
  background-size: cover;
  border: 5px solid #fff;
  border-radius: 20px;
}
#board div {
  /* board = 540x540, divided into 3x3 tiles > 180x180 per div*/
  width: 180px;
  height: 180px;
  background-image: url(./img/GreenPipe.png);
  background-size: cover;
}
#board div img {
  /* all img tags inside the tile div tags */
  width: 100px;
  height: 100px;
  /* Disable dragging */
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.descriptionTile {
  margin-bottom: 0;
  color: #fff;
  font-size: 20px;
}
.description {
  color: #fff;
  font-size: 20px;
}
/* button */
.button-container {
  display: flex;
  justify-content: center;
}
.how-to-play-btn {
  width: 20rem;
  padding: 10px 20px;
  background-color: white;
  color: red;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 800;
  margin: 10px;
}
.how-to-play-btn:hover {
  background-color: yellow;
  color: black;
}
/* modal */
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
}
.modal-content {
  background: black;
  color: white;
  margin: 15% auto;
  padding: 50px;
  width: 50%;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
}
.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 28px;
  cursor: pointer;
}